@font-face {
    src: url('./font/raleway/Raleway-Light.ttf') format('truetype');
    font-family: 'Raleway-Light';
    font-weight: normal;
    font-style: normal;
}

body {
  position: relative;
  margin-top: 0px;
  background-color: #EFEFEF;
  font-family: "Light", Arial;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-size: 12px;
  color: #18469E;
}

header {
  position: relative;
  margin-bottom: 50px;
  border-bottom: solid #000000 1px;
  height: 70px;
  width: 100%;
  text-align: center;
}

li {
  position: relative;
  margin-left: 50px;
  left: 0px;
  font-size: 16px;
  list-style: none;
  display: inline-block;
}

#menu{
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  width: 1000px;
  height: 70px;
}

#logo {
  position: absolute;
  z-index: 1;
  left: 175px;
}


#content{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 910px;
}

#slog {
  position: relative;
  left: 0px;
  top: -10px;
  line-height: 100%;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: #333333;
}

h3 {
  font-weight: normal;
  font-size: 25px;
}

#video_prez {
  margin: auto;
  width: 490px;
  height: 270px;
  margin-bottom: 30px;
  border: solid black 1px;
}

#gettin_slog {
  position: relative;
  width: 500px;
  top: 120px;
  left: 150px;
  font-size: 25px;
  text-align: center;
}

#getin_box {
  position: relative;
  padding: 25px;
  padding-bottom: 20px;
  width: 275px;
  left: 250px;
  top: -100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  border: solid black 1px;
  border-radius: 5px;
  background-color: #DAE7FF;
}

#getin_sub_box > p {
  position: relative;
  text-align: center;
  margin: auto;
  top: 8px;
  color: #FFFFFF;
  font-size: 25px;
}

#getin_sub_box{
  position: relative;
  width: 275px;
  height: 40px;
  border: solid #18469E 1px;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-bottom: 3px;
  margin-top: 3px;
}

#getin_sub_box.clickme {
  background-color: #18469E;
  border: solid #FFFFFF 3px;
  margin-bottom: 3px;
}

#iwannagetin {
  position: relative;
  width: 282px;
  margin-left: auto;
  margin-right: auto;
}

.foot_note {
  position: relative;
  font-size: 10px;
  width: 80px;
  text-align: center;
  color: Black;
}

.label_link {
  margin-left: 55px;

}

#footer{
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border-top: solid #000000 1px;
  width: 100%;
}

#legal {  position:relative; left: 60px;}

#misc { position: relative; left: 60px;}

#centered_footer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
 }
