@font-face {
    font: normal 100% Cambria,Georgia,"Times New Roman",Times,serif
    font-weight: normal;
    font-style: normal;
}

body{
  position: relative;
  background-color: #EEEEEE;
}

header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: solid black 2px;
  height: 100px;
  width: 1000px;
  text-align: center;

}

#menu{
}


#content{
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid black 2px;
  height: 1000px;
  width: 1000px;
  text-align: center;
}


#footer{
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid black 2px;
  height: 70px;
  width: 1000px;
  text-align: center;
}
