@font-face {
    src: url('./font/raleway/Raleway-Light.ttf') format('truetype');
    font-family: 'Raleway-Light';
    font-weight: normal;
    font-style: normal;
}

body {
  position: relative;
  margin-top: 0px;
  background-color: #EFEFEF;
  font-family: "Light", Arial;
}

b {
  font-size: 12px;
  color: #18469E;
}

a {
  text-decoration: none;
  color: inherit;

}

header {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: solid #000000 1px;
  height: 30px;
  width: 100%;
  text-align: center;
}

#header a {
  text-decoration: none;
  font-size: 15px;
}

li {
  position: relative;
  margin-left: 50px;
  font-size: 16px;
  list-style: none;
  display: inline-block;
}

ul{
  margin: 8px;

}

#menu{
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  width: 1000px;
  height: 70px;
}

#logo {
  position: absolute;
  z-index: 1;
  left: 175px;
}


#content{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 910px;
}

#slog {
  position: relative;
  left: 0px;
  top: -10px;
  line-height: 100%;
  margin-top: 60px;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: #333333;
}

h3 {
  font-weight: normal;
  font-size: 25px;
}

#video_prez {
  margin: auto;
  width: 490px;
  height: 270px;
  margin-bottom: 30px;
}

#iwannagetin {
  position: relative;
  width: 282px;
  margin-left: auto;
  margin-right: auto;
}

.foot_note {
  position: relative;
  font-size: 11px;
  width: 80px;
  text-align: center;
  color: Black;
}

.label_link {
  margin-top: -400px;
  margin-left: 150px;
}

.link {
  color: #0055FF;
}

#footer{
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  border-top: solid #000000 1px;
  width: 100%;
}

#legal{position:relative; left: 60px;}

#misc{position: relative; left: 60px;}

#centered_footer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
 }

#whitepaper{
  margin-top: 100px;
  font-size: 20px;



 }
