#repo_view{
  width: 445px;
  height: 300px;
  background-color: #E0E0E0;
  margin-right: 20px;
  display: inline-block;

}

#repo_list{
  width: 445px;
  height: 300px;
  background-color: #E0E0E0;
  display: inline-block;
}

#repo_desc{
  width: 910px;
  height: 300px;
  margin-top: 15px;
  background-color: #E0E0E0;
}

#repo_desc_menu {
  width: 900px;
  height: 30px;
}

#repo_desc_cat {
  position: relative;
  height: 20px;
  margin: 20px;
  margin-top: 17px;
  margin-bottom: 5px;
  display: inline-block;
  float: right;
}

#separation_V {
  position: relative;
  width: 2px;
  height: 30px;
  top: 13px;
  background-color: #555555;
  display: inline-block;
  float: right;
}

#separation_H {
  position: relative;
  width: 520px;
  height: 2px;
  margin-right: 10px;
  background-color: #555555;
  display: inline-block;
  float: right;
}
