#repo_header{
  width: auto;
  height: auto;
  background-color: #F0F0F0;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
}

#repo_view{
  width: 423px;
  height: 278px;
  padding: 10px;
  background-color: #F0F0F0;
  border: 1px solid black;
  margin-right: 20px;
  border-radius: 3px;
  display: inline-block;
}

#repo_list{
  width: 423px;
  height: 278px;
  padding: 10px;
  background-color: #F0F0F0;
  border: 1px solid black;
  display: inline-block;
  float: right;
  border-radius: 3px;
}

#repo_desc{
  width: 908px;
  height: 300px;
  margin-top: 15px;
  background-color: #F0F0F0;
  border: 1px solid black;
  border-radius: 3px;
}

#repo_desc_menu {
  width: 900px;
  height: 30px;
}

#repo_desc_cat {
  position: relative;
  height: 20px;
  margin: 20px;
  margin-top: 17px;
  margin-bottom: 5px;
  display: inline-block;
  float: right;
}

#separation_V {
  position: relative;
  width: 2px;
  height: 30px;
  top: 13px;
  background-color: #555555;
  display: inline-block;
  float: right;
}

#separation_H {
  position: relative;
  width: 520px;
  height: 2px;
  margin-right: 10px;
  background-color: #555555;
}

#file_box{
  width: 398px;
  height: 220px;
  padding: 10px;
  background-color: #EFEFEF;
  border: 1px solid black;
  border-radius: 3px;
}

button[type=upload_button]{
  position: relative;
  width: 100px;
  height: 20px;
  display: inline-block;
  float: right;
  background-color: #555555;
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  padding-bottom: 4px;
}

button[type=upload_button]>a{
  font-size: 12px;
  color: #EFEFEF;
}
