#dashboard {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 910px;
}

#dashboard a {
  font-size: 15px;
}

#profile {
  display: inline-block;
  float: left;
  width: 200px;
  height: auto;
  margin-right: 20px;
  background-color: #F0F0F0;
  border: 1px solid black;
  border-radius: 3px;
}

#profile_pic {
  width: 160px;
  height: 160px;
  margin: 20px;
  margin-bottom: 40px;
  border: 1px solid #A0A0A0;
  border-radius: 3px;
}

#profile_status {
  width: 160px;
  height: 212px;
  margin: 20px;
}

.cat_header {
  margin: 0px;
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 20px;
}

#repo_recent {
  display: inline-block;
  width: 680px;
}

#repo_recent_bloc {
  display: inline-block;
  width: 288px;
  height: 182px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #F0F0F0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 3px;
}

#msg {
  position: absolute;
  top: 472px;
  width: 180px;
  height: 170px;
  padding: 10px;
  margin-right: 20px;
  padding-top: 10px;
  background-color: #F0F0F0;
  border: 1px solid black;
  border-radius: 3px;
}

#miscelanious {
  display: inline-block;
  float: left;
  top: 725px;
  width: 180px;
  height: 170px;
  margin-right: 20px;
  padding: 10px;
  background-color: #F0F0F0;
  border: 1px solid black;
  border-radius: 3px;
}

#msg_bloc {
  margin:10px;
}

#repo_favoris {
  display: inline-block;
  float: left;
  width: 680px;
  height: 320px;
  margin-bottom: 50px;
}

#repo_favoris_bloc {
  display: inline-block;
  width: 288px;
  height: 180px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #F0F0F0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 3px;
}
